@import "theme";

.spacer {
  flex: 1 1 auto;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  border-radius: 3em;
  margin: 0 0.25em;
  padding: 0 0.5em;
}

#navbar-title {
  font-size: 1.4em;
  font-weight: 600;
}

mat-toolbar {
  background-color: transparent;
}

.is-active {
  outline: 2px solid $highlight;
}
