.spacer {
  flex: 1 1 auto;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

#navbar-title {
  font-size: 16pt;
  font-weight: 600;
}

mat-toolbar {
  background-color: transparent;
}
