@use '@angular/material' as mat;

@import "styles";

.spacer {
  flex: 1 1 auto;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  border-radius: 36px;
  margin: 0 5px;
}

#navbar-title {
  font-size: 16pt;
  font-weight: 600;
  margin-left: 5px;
}

mat-toolbar {
  background-color: transparent;
}

.is-active {
  outline: 2px solid mat.get-color-from-palette($portfolio-background, 500);
}
