div.info {
  display: flex;
  flex-direction: row;

  div.group {
    flex: 1 1 0;
  }
}

.mat-list-item {
  height: 26px !important;
}

@media (max-width: 1000px) {
  div.info {
    flex-direction: column;
  }
}
