<h1>About</h1>
<p>
  Hello, I'm Lily Vandenbore and I'm a passionate software developer who has been
  programming since the age of 11.
  I've always been eager to try and learn technologies to become a better developer.

  I am currently studying at VIVES Kortrijk to get a bachelor in Applied Computer Science and
  will graduate in 2024.

  My passion for software development and geeky computer things also makes me love to help friends
  and people I meet online to both program, and to help those who can program become even better.
</p>
<h3>Skills</h3>
<ul>
  <li>C</li>
  <li>Python</li>
  <li>Java</li>
  <li>JavaScript / TypeScript</li>
  <li>C#</li>
  <li>Swift</li>
  <li>Kotlin</li>
  <li>PHP</li>
  <li>ASP.NET</li>
  <li>Spring Boot</li>
  <li>GraphQL</li>
  <li>SQL</li>
  <li>MongoDB</li>
  <li>Node.js</li>
  <li>Angular</li>
  <li>React</li>
  <li>Laravel</li>
  <li>Express</li>
  <li>Docker</li>
  <li>Unix / Linux</li>
  <li>FastAPI</li>
</ul>
<h3>Experience</h3>
<ul>
  <li>Full stack development at FOD Economie (Angular & Spring Boot)</li>
  <li>Teacher assistant in programming classes at CodeFever</li>
</ul>
<h3>Education</h3>
<ul>
  <li>Associate degree of Programming</li>
  <li>Bachelor of Applied Computer Science (ongoing)</li>
</ul>
