div.info {
  display: flex;
  flex-direction: row;
}

div.column {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
}

div.intro {
  flex-grow: 3;
  padding-right: 75px;
  text-align: justify;
}

div.chips {
  flex-grow: 2;
}

.mat-list-item {
  height: 26px !important;
}

@media (max-width: 1000px) {
  div.info {
    flex-direction: column;
  }

  div.intro {
    padding-right: 0;
  }
}

mat-chip {
  height: 24px;
  font-size: 12pt;
}
