@use '@angular/material' as mat;

@import "../../../../styles";
@import '@angular/material/theming';

div.footer {
  width: 100dvw;
  height: 125px;
  background-color: mat.get-color-from-palette($portfolio-primary, 500);
}
