@use '@angular/material' as mat;

@import "styles";

div.center {
  //text-align: center;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  height: 100%;

  a {
    margin: 0 5px 15px 5px;
  }
}

#into-title {
  font-size: 56pt;
  font-weight: 200;
}

.primary-color {
  color: mat.get-color-from-palette($portfolio-primary, 500)
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

div.intro {
  margin-bottom: 30px;
}
