<div class="center">
  <div class="content">
    <div class="intro">
      <h1 id="into-title">Hi, I am <span class="primary-color">Lily</span>.</h1>
      <h3>
        I'm a dedicated full stack developer who specializes in back end development.<br>
        I'm also a big Linux enthusiast and love learning about new tech.
      </h3>
    </div>
    <a mat-raised-button color="primary" [routerLink]="'/projects'">My projects</a>
    <a mat-raised-button color="primary" [routerLink]="'/about'">About me</a>
    <br>
    <a mat-raised-button color="accent" href="https://github.com/ImoutoLily/portfolio-webapp/" target="_blank">&lt;/Source code&gt;</a>
  </div>
</div>
