@import "theme";

div.center {
  text-align: center;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  height: 100%;

  a {
    margin: 0 5px 15px 5px;
  }
}

.primary-color {
  color: $primary-foreground;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

div.intro {
  margin-bottom: 30px;
}
