
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$portfolio-primary: mat.define-palette(mat.$blue-palette);
$portfolio-accent: mat.define-palette((
  50: #fce3f1,
  100: #f7b9db,
  200: #f48ac3,
  300: #f357aa,
  400: #f32194,
  500: #f5007e,
  600: #e3007a,
  700: #cc0073,
  800: #b6006f,
  900: #8d0066,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white
  )
));

// The warn palette is optional (defaults to red).
$portfolio-warn: mat.define-palette(mat.$red-palette);

$portfolio-background: mat.define-palette(mat.$blue-gray-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$portfolio-theme: mat.define-dark-theme((
  color: (
    primary: $portfolio-primary,
    accent: $portfolio-accent,
    warn: $portfolio-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
//@include mat.core-theme($portfolio-theme);
@include mat.all-component-themes($portfolio-theme);

$background-color: mat.get-color-from-palette(mat.$blue-gray-palette, 900);
$secondary-background-color: #2c3940;

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root {
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 56pt;
  font-weight: 200;
}

h2 {
  font-size: 36pt;
  font-weight: 200;
}

h3 {
  font-size: 18pt;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6, h7, p {
  color: white;
}

mat-card-title {
  color: white;
}

mat-card, mat-chip {
  background-color: $secondary-background-color !important;
}
